.logo {
  cursor: pointer;
  height: 64px;
  width: 64px;

  & .logo-rect {
    // fill: #b6b6b6;
    fill: #fff;
  }
  & .logo-circle {
    // stroke: #b6b6b6;
    stroke: #ffffff;
    stroke-width: 0.6;
  }
  & .logo-text {
    fill: #000033;
    // fill: #ffffff;
  }
}

.logo:hover #text {
  fill: #ff4081;
}
.logo:hover #target {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}
.logo:hover #target .logo-circle {
  stroke: #ffffff;
  opacity: 0.8;
}
.logo:hover #target .logo-rect {
  fill: #ffffff;
  opacity: 0.8;
}
