<div class="logo">
    <svg width="64px" height="64px" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-90.957 -123.68)">
            <g id="logo">
                <text class="logo-text" id="text" transform="matrix(.89356 -.10626 .13122 1.1035 0 0)" x="83.057663"
                    y="134.44781" style="font-family:sans-serif;font-size:7.2507px;line-height:1.25;stroke-width:.18127"
                    xml:space="preserve">
                    <tspan x="83.057663" y="134.44781" style="stroke-width:.18127">
                        &lt;dev&gt;</tspan>
                </text>
                <g id="target">
                    <path class="logo-rect" id="rect-right" d="m109.26 135.21h5.682v0.88194h-5.682z"
                        style="stroke-linejoin:round;stroke-opacity:.86667;stroke-width:.028081;stroke:#b6b6b6" />
                    <path class="logo-circle" id="circle-out"
                        d="m112.84 135.65a9.801 9.8152 0 0 1-9.801 9.8152 9.801 9.8152 0 0 1-9.801-9.8152 9.801 9.8152 0 0 1 9.801-9.8152 9.801 9.8152 0 0 1 9.801 9.8152z"
                        style="fill:none;stroke-linejoin:round;stroke-opacity:.86667;" />
                    <path class="logo-rect" id="rect-left" d="m90.971 135.21h5.682v0.88194h-5.682z"
                        style="stroke-linejoin:round;stroke-opacity:.86667;stroke-width:.028081;stroke:#b6b6b6" />
                    <path class="logo-rect" id="rect-down"
                        d="m103.53 141.97-0.10745 5.6892-0.8805-0.0167 0.10746-5.6892z"
                        style="stroke-linejoin:round;stroke-opacity:.86667;stroke-width:.028081;stroke:#b6b6b6" />
                    <path class="logo-rect" id="rect-top"
                        d="m103.53 123.71-0.10745 5.6892-0.8805-0.0167 0.10745-5.6892z"
                        style="stroke-linejoin:round;stroke-opacity:.86667;stroke-width:.028081;stroke:#b6b6b6" />
                    <path class="logo-circle" id="circle-inner"
                        d="m109.98 135.68a7.0242 7.0344 0 0 1-7.0242 7.0344 7.0242 7.0344 0 0 1-7.0242-7.0344 7.0242 7.0344 0 0 1 7.0242-7.0344 7.0242 7.0344 0 0 1 7.0242 7.0344z"
                        style="fill:none;stroke-linejoin:round;stroke-opacity:.86667;" />
                </g>
            </g>
        </g>
    </svg>

</div>