.landing-page-wrapper {
  width: 100%;
  margin-top: 2em;
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 5%,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%,
      rgb(255, 255, 255) 100%
    ),
    url("../../../../assets/bgr-img.svg");
  background-size: contain;

  & h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 9em;
    padding: 0.3em 0 0.3em 0;
    color: #b34fae;
    letter-spacing: 4px;
    line-height: 0.5;
  }
  & h2 {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    text-align: center;
    font-size: 2em;
    padding: 1em 0em;
    color: #3f51b5;
  }

  & .img-wrapper {
    margin: 0 auto;
    max-width: 40%;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding-top: 58.54%;
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
