<div class="landing-page-wrapper">
    <h1>Dev <br> hunter</h1>
    <h2>&lt; hire developers &gt;</h2>
    <div class="img-wrapper">
        <img class="landing-img" src="../../../assets/developers.svg" alt="developers-img">
    </div>
    <h2>&lt;/ hire developers &gt;</h2>
</div>