<div class="auth-wrapper">
    <h3 class="error-message" *ngIf="loginErrorMessage">{{ loginErrorMessage}}</h3>
    <div class="form-wrapper">
        <div class="form-heading">
            <div class="name-lt-gt">&lt;</div>
            <h3>Login</h3>
            <div class="name-lt-gt">&gt;</div>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onLoginHandler(loginForm)" class="form">
            <mat-form-field>
                <input ngModel #emailInput="ngModel" matInput type="email" name="email" id="email"
                    placeholder="Your email" email required required
                    pattern="^[A-Za-z0-9._]+@[A-Za-z0-9._]+\.[a-z]{2,3}$">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input ngModel matInput #passInput="ngModel" type="password" name="pass" id="pass"
                    placeholder="Your password" required minlength="6">
                <mat-hint *ngIf="!passInput.hasError('required') && passInput.value && passInput.value.length < 6">
                    Should be at least 6 characters long.
                </mat-hint>
                <mat-error *ngIf="passInput.hasError('required')">Field must not be empty.</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="accent" [disabled]="loginForm.invalid"
                class="login-register-button">
                <mat-icon>login</mat-icon>
                Login
            </button>
        </form>

        <!-- {{loginForm.value | json}} -->
    </div>
</div>