<div class="auth-wrapper">
    <h3 class="error-message" *ngIf="regErrorMessage">{{ regErrorMessage}}</h3>
    <div class="form-wrapper">
        <div class="form-heading">
            <div class="name-lt-gt">&lt;</div>
            <h3>Register</h3>
            <div class="name-lt-gt">&gt;</div>
        </div>
        <form #registerForm="ngForm" (ngSubmit)="onRegisterHandler(registerForm)" class="form">
            <mat-form-field>
                <input ngModel #emailInput="ngModel" matInput type="email" name="email" id="email"
                    placeholder="Your email" email required pattern="^[A-Za-z0-9._]+@[A-Za-z0-9._]+\.[a-z]{2,3}$">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input ngModel #usernameInput="ngModel" matInput type="text" name="user" id="user"
                    placeholder="First name" required>
                <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input ngModel matInput #passInput="ngModel" type="password" name="pass" id="pass"
                    placeholder="Your password" required minlength="6">
                <mat-hint>
                    Should be at least 6 characters long.
                </mat-hint>
                <mat-error *ngIf="!passInput.hasError('required') && passInput.value && passInput.value.length < 6">
                    Password
                    length must be at
                    least 6 characters.</mat-error>
            </mat-form-field>
            <div class="form-checkbox">
                <mat-checkbox ngModel name="agree" required color="primary">Agree to terms and conditions.
                </mat-checkbox>
            </div>
            <button type="submit" mat-raised-button color="accent" [disabled]="registerForm.invalid"
                class="login-register-button">
                <mat-icon>
                    <!-- <span class="material-icons-outlined"> -->
                    app_registration
                    <!-- </span> -->
                </mat-icon>
                Register
            </button>
        </form>
    </div>