$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $secondary-color;
  border-radius: 4px;
  // background-color: $secondary-color;
  padding: 0.4em;

  & .forms-wrapper {
    display: flex;
    align-items: center;

    .search-filter-form {
      display: flex;
      color: #fff;
      padding: 1em;
      background-color: #fff;

      & .search-filter-panel {
        // background-color: $secondary-color;
        display: flex;
        align-items: baseline;
      }
      & .search-input,
      .panel-item {
        margin-right: 2em;
        padding: 0;
        color: $accent-color;
      }
      &.search {
        border-right: 1px solid $secondary-color;
      }

      // & .search-btn {
      //   background-color: $secondary-color;
      // }
    }
  }

  & .sort-wrapper {
    box-sizing: border-box;
    margin-top: 0.4em;
    border-radius: 4px;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: flex-end;

    & .sort {
      color: #858585;
      padding: 0.2em 1em;
      display: flex;
      align-items: baseline;

      & .sort-message {
        font-size: 0.8em;
        margin: 0;
      }
      & .sort-btn {
        width: 20px;
        height: 20px;
        line-height: 20px;
      }
    }
  }
}

// .mat-form-field-appearance-legacy .mat-hint {
//   color: $primary-color;
// }
