<div class="search-wrapper">
    <div class="forms-wrapper">
        <form [formGroup]="searchForm" class="search-filter-form search" (ngSubmit)="onSearch()">
            <div class="search-filter-panel">
                <mat-form-field class="search-input">
                    <!-- <mat-label>Search</mat-label> -->
                    <input matInput formControlName="search" placeholder="Search">
                    <mat-hint align="start"><strong>Search Developer by name</strong> </mat-hint>
                </mat-form-field>
                <div class="action">
                    <button mat-raised-button type="submit" class="search-btn" color="primary">
                        <mat-icon>search</mat-icon>
                        Search
                    </button>
                </div>
            </div>
        </form>
        <form class="search-filter-form">
            <div class="search-filter-panel">
                <mat-form-field class="panel-item">
                    <mat-select #tech placeholder="Select technology" name="technology" [(value)]="selectedTech"
                        (selectionChange)="onChangeTech(tech.value.id)">
                        <mat-option value="all">All technologies</mat-option>
                        <mat-option *ngFor="let tech of technologies" [value]="tech">{{tech.techName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="panel-item">
                    <mat-select #loc placeholder="Select Location" name="technology" [(value)]="selectedLoc"
                        (selectionChange)="onChangeLoc(loc.value.id)">
                        <mat-option value="all">All locations</mat-option>
                        <mat-option *ngFor="let loc of locations" [value]="loc">{{loc.location}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="sort-wrapper">
        <div class="sort">
            <p class="sort-message">Sort by price</p>
            <button mat-icon-button class="sort-btn" (click)="sortPrice(false)">
                <mat-icon class="sort-btn">keyboard_arrow_down</mat-icon>
            </button>
            <button mat-icon-button class="sort-btn" (click)="sortPrice(true)">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
        </div>
    </div>
</div>