$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.all-devs-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
  min-height: 232px;
  width: 100%;
  margin-top: 0.4em;

  // create button decoration
  & .create {
    margin-bottom: 1em;
    padding: 0.5em 0.8em;

    & .decoration {
      font-family: "Roboto Mono", monospace;
      font-size: 1.8em;
    }
    & .btn-name {
      font-family: "Roboto Mono", monospace;
      // font-size: 2em;
      font-weight: bold;
      margin: 0.4em;
    }
  }

  & .search-filter-container {
    margin: 0 auto;
    display: flex;
    margin-bottom: 2.4em;
    justify-content: center;
  }

  & .create-button-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0 1em;
  }

  // team dates and selected devs
  & .hire-team-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 1em;
    border: 2px solid $primary-color;
    border-radius: 4px;
    margin: 0 1em;
    width: 80%;
    position: relative;

    & .cancel {
      position: absolute;
      top: -6px;
      right: -1px;
    }

    & .hire-dates {
      margin: 0 1em;
      color: $primary-color;
      border-right: 1px solid $secondary-color;
      padding: 0 1em;
    }

    // selected for team devs container
    & .selected-developpers-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0 1em;

      & .selected-devs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      & .selected-dev {
        margin: 0.2em 0.3em;
        &:not(:last-child)::after {
          content: ",";
        }
      }
    }
    & h3 {
      margin: 0;
      text-align: center;
    }
  }
}

.developpers-container {
  min-height: 497px;
  display: flex;
  flex-wrap: wrap;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  color: $accent-color;
  opacity: 0.6;
}

::ng-deep .mat-snack-bar-container {
  color: #fff;
  background-color: $accent-color;
  & button {
    background: white;
    color: $accent-color;
  }
}
