<div class="all-devs-nav">

    <!-- search -->
    <div class="search-filter-container" *ngIf="selectedDevelopers.length < 1">
        <dev-search (filterItem)="filterAndSearch($event)"></dev-search>
    </div>

    <!-- create developper -->
    <div class="create-button-wrapper" *ngIf="selectedDevelopers.length < 1">
        <button mat-raised-button color="primary" (click)="createDev()" class="create">
            <span class="decoration">&#x007B;</span>
            <span class="btn-name">create : developer</span>
            <span class="decoration">&#x007D;</span>
        </button>
    </div>

    <!-- select team -->
    <div class="hire-team-wrapper mat-elevation-z4" *ngIf="developers && selectedDevelopers.length > 0">
        <div class="cancel" (click)="cancelTeamSelection()"><button mat-icon-button>
                <mat-icon color="accent">cancel</mat-icon>
            </button></div>
        <div class="hire-dates">
            <h3>Select dates for teamwork:</h3>
            <dev-dev-hire [dates]="hiredDatesFromAllDevs" (submitEvent)="submitHireAll($event)">
            </dev-dev-hire>
        </div>
        <!--  dev names selected for team  -->
        <section class="selected-developpers-container">
            <div class="selected-devs">
                <h3>Selected team members:</h3>
                <mat-chip-list #chipList *ngIf="selectedDevelopers" class="chip-devs no-wrap">
                    <mat-chip class="chip no-wrap" *ngFor="let selectedDev of selectedDevelopers" [removable]="true"
                        (removed)="removeSelected(selectedDev.dev)">
                        <span class="selected-dev">{{selectedDev.tech.techName}} </span>
                        <span class="selected-dev">{{selectedDev.dev.name}} </span>
                        <span>{{selectedDev.dev.pricePerHour | number:'1.2-2'}} &euro; / hour</span>
                        <mat-icon matChipRemove class="cancel-icon">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </section>
    </div>
</div>
<!-- all developers -->
<section class="all-devs">
    <div *ngIf="developers" class="developpers-container">
        <dev-developer *ngFor="let dev of developers" [developer]="dev" (deletedItem)="devDeleted($event)"
            (hireEvent)="devHired($event)" (devSelectedForJob)=devSelected($event)
            (devDeSelectedForJob)=devDeSelected($event)>
        </dev-developer>
    </div>
</section>
<div class="pagination">
    <mat-paginator #paginator [length]="devsCount" [pageSize]="limit" [pageSizeOptions]="[2,3,4,5, 10, 20]"
        (page)="pageEvent = $event; onPaginateChange($event)">
    </mat-paginator>
</div>