$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.date-picker-wrapper {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &
    ::ng-deep.mat-form-field-appearance-legacy
    .mat-form-field-suffix
    .mat-datepicker-toggle-default-icon {
    width: 2em;
  }
}
