<div class="hire-wrapper">
    <form class="date-picker-wrapper" #hireForm="ngForm" (ngSubmit)="submitHire(hireForm)">
        <mat-form-field class="date-picker">
            <mat-date-range-input [rangePicker]="picker" [min]="minDate" [dateFilter]="myDateFilter">
                <input ngModel matInput name="start" matStartDate placeholder="Start date" readonly required>
                <input ngModel matInput name="end" matEndDate placeholder=" End date" readonly required>
            </mat-date-range-input>
            <mat-datepicker-toggle size="large" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker color="accent"></mat-date-range-picker>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" aria-label="Hire" [disabled]="hireForm.invalid">
                <mat-icon>download</mat-icon>
                Hire
            </button>
        </div>
    </form>
</div>