$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;
// $accent-color: #b34fae;

.auth-wrapper {
  padding-top: 6em;
  position: relative;

  & .error-message {
    color: $accent-color;

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.form-wrapper {
  position: relative;

  & .form-heading {
    position: absolute;
    height: 45px;
    width: 250px;
    top: -22px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-50%);

    & h3 {
      // text-transform: uppercase;
      color: $primary-color;
      font-size: 1.8em;
      letter-spacing: 4px;
      text-align: center;
      margin: 0 0.5em;
    }
    & .name-lt-gt {
      font-family: "Roboto Mono", monospace;
      font-size: 3em;
      color: $primary-color;
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
