<form [formGroup]="techForm" #formDirective="ngForm" (ngSubmit)="onEdit();" class="tech-form">
    <mat-form-field class="tech-form-input">
        <input type="text" formControlName="techName" matInput name="techName" placeholder="technology name">
    </mat-form-field>
    <mat-form-field class="tech-form-input">
        <input type="text" matInput formControlName="imageUrl" name="imageUrl" placeholder="image URL">
    </mat-form-field>
    <div class="buttons">
        <button class="btn" type="submit" mat-raised-button color="accent" [disabled]="techForm.invalid">
            <span>{{buttonName}}</span>
        </button>
        <button class="btn btn-abs-pos" type="reset" mat-raised-button color="primary"
            (click)="onCancel()">Cancel</button>
    </div>
</form>