<div class="locations-wrapper">
    <h3 *ngIf="locExists" class="exists-message">{{locExists}}</h3>

    <dev-location-create-edit (createLocEvent)="onCreateLocationHandler($event)"
        (editLocEvent)="onEditLocationHandler($event)" (cancel)=onCancel()>
    </dev-location-create-edit>

    <mat-chip-list #chipList *ngIf="locations" class="chip-locations">
        <mat-chip class="chip" *ngFor="let loc of locations" [removable]="isLocRemovable(loc)" (removed)="remove(loc)">

            <a *ngIf="loc.link" [href]="loc.link" target="_blank">
                <mat-icon color="primary">location_on</mat-icon>
            </a>
            {{loc.location}}
            <button mat-icon-button (click)="edit(loc)" color="primary" class="chip-edit">
                <mat-icon>construction</mat-icon>
            </button>
            <mat-icon matChipRemove *ngIf="loc.removable" class="cancel-icon">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>