$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.locations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  position: relative;

  & .exists-message {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    color: $accent-color;
  }

  & .loc-form {
    display: flex;
    align-items: baseline;
    & .loc-form-input {
      margin-right: 1em;
    }
  }

  & .chip-locations {
    margin: 1em 2em;
    display: flex;
    flex-wrap: wrap;

    & .chip {
      // cursor: pointer;

      & a {
        margin: 0 0.2em;
      }
    }
  }
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  color: $accent-color;
  opacity: 0.6;
}
