$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

:host {
  color: #3f51b5;
}

.dev-full-info-wrapper {
  position: relative;
  & .cancel-wrapper {
    position: absolute;
    top: -17px;
    right: -17px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 360px;

  & .name-wrapper {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    & .name {
      text-align: center;
      margin: 0;
    }

    & .name-main-info {
      color: $secondary-color;
      margin-right: 0.4em;
    }
    & .name-decoration {
      font-family: "Roboto Mono", monospace;
      font-size: 2em;
      margin: 0 0.6em;
    }
  }

  & h3.dev-info,
  p.dev-info {
    margin: 0;
  }

  & .dev-name-img {
    margin: 1em auto;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: $primary-color 1px solid;
    border-radius: 4px;
    width: 96%;

    & .contacts-wrapper {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1em;
      flex-grow: 1;

      & .contact-container:not(:last-child) {
        margin-bottom: 0.4em;
      }
      & .contact-container {
        display: flex;
        align-items: center;
        & .contact-text,
        a {
          color: $primary-color;
        }
        & .icon {
          margin-right: 0.4em;
        }
        & .linked-in {
          margin-right: 0.7em;
          width: 25px;
          height: 19px;
        }
      }
      & .contact {
        display: block;
      }
      & .email-icon {
        color: $primary-color;
      }
      & .linked-in {
        height: 16px;
        width: auto;
      }
    }

    & .img-wrapper {
      flex-shrink: 0;
      width: 70px;
      height: 74px;
      padding: 4px;
      overflow: hidden;
      border: 1px solid $secondary-color;

      & .dev-img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .other-info-wrapper {
    border: 1px solid $secondary-color;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .other-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1em;

      & > p,
      div {
        margin-bottom: 0.5em;
      }

      & .dev-info {
        color: #b6b6b6;
      }

      & .main-info {
        font-weight: bold;
        color: $primary-color;
      }

      & .price {
        color: $accent-color;
        font-weight: bold;
      }
    }
  }

  & .loc-tech-wrapper {
    display: flex;
    align-items: center;

    & .tech-img {
      width: 24px;
      height: 24px;
      margin-right: 0.5em;
    }
  }

  .tech-img-container {
    flex-grow: 0;
    width: 30px;
    display: flex;
    justify-content: center;
    // position: absolute;
    // top: -17px;
    // left: -17px;

    & .tech-img {
      width: 90%;
      height: auto;
    }
  }
}

.tech-name-main {
  font-size: 1.4em;
  font-weight: bold;
}
