<div class="dev-full-info-wrapper">

    <div class="cancel-wrapper">
        <button mat-icon-button aria-selected="false">
            <mat-icon class="cancel-icon" color="accent" (click)="close()">cancel</mat-icon>
        </button>
    </div>

    <div class="name-wrapper">
        <div class="name-decoration">
            &#x007B;
            <!-- &lt; -->
        </div>
        <div class="tech-img-container">
            <div *ngIf="!tech.imageUrl" class="tech-name-main">{{tech.techName}}</div>
            <img *ngIf="tech.imageUrl" class="tech-img" [src]="tech.imageUrl" alt="tech-img">
        </div>
        <div class="name-decoration">
            &#x007D;
            <!-- &gt; -->
        </div>
    </div>



    <!-- <button mat-raised-button (click)="close()" color="accent">Close</button> -->

    <div class="name-wrapper">
        <div class="name-decoration">
            &#x007B;
            <!-- &lt; -->
        </div>
        <h3 class="name"><span class="name-main-info">name:</span>{{developer.name}}</h3>
        <div class="name-decoration">
            &#x007D;
            <!-- &gt; -->
        </div>
    </div>
    <div class="dev-name-img">

        <div class="img-wrapper">
            <img class="dev-img" *ngIf="developer.pictureUrl" [src]="developer.pictureUrl" alt="dev-pic">
            <img class="dev-img" *ngIf="!developer.pictureUrl" src="../../../assets/programmer.svg" alt="dev-pic">
        </div>
        <div class="contacts-wrapper">
            <div class="contact-container" *ngIf="developer.linkedinLink">
                <img src="../../../assets/linkedin-icon-2.svg" alt="" class="linked-in">
                <a [href]="developer.linkedinLink" class="contact" target="_blank">
                    <span>linkedin</span>
                </a>
            </div>
            <div class="contact-container">
                <mat-icon class="icon">
                    email
                </mat-icon>
                <a [href]="'mailto:'+developer.email" class="contact">
                    {{developer.email}}
                </a>
            </div>

            <div class="contact-container">
                <mat-icon class="icon">
                    call
                </mat-icon>
                <span class="contact-text"> {{developer.phone}}</span>
            </div>


        </div>
    </div>

    <div class="other-info-wrapper">

        <div class="other-info">

            <div class="loc-tech-wrapper">
                <p class="dev-info">location: <span class="main-info">{{location.location}}</span></p>
                <a *ngIf="location.link" [href]="location.link" target="_blank">
                    <mat-icon color="primary">location_on</mat-icon>
                </a>
            </div>
            <p class="dev-info">technology: <span class="main-info">{{tech.techName}}</span></p>
            <p class="dev-info">price per hour: <span class="main-info price">{{developer.pricePerHour |
                    number:'1.2-2'}}
                    &euro;</span></p>
            <p class="dev-info">years of experience: <span class="main-info">{{developer.yearsExperience}}</span></p>
            <p class="dev-info">language: <span class="main-info">{{ developer.language}}</span></p>
            <p class="dev-info" *ngIf="developer.description">Description: <span
                    class="main-info">{{developer.description}}</span></p>
        </div>
    </div>

</div>