<h2>findDevelopers<span> => </span><span class="success">Success</span></h2>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab repellat esse porro! Temporibus, facere! Sit,
    reiciendis at corrupti fugit impedit explicabo, illo minus optio quaerat iure dignissimos laudantium alias earum!
    Corporis optio odio delectus eos consequuntur atque iure quaerat aperiam officia sint nulla cum, aspernatur soluta
    commodi natus autem!
</p>

<div>
    <img src="../../../../assets/up-success.svg" alt="success">
</div>