$primary-color: #3f51b5;
// $secondary-color: #b6b6b6;
$accent-color: #ff4081;

:host {
  text-align: center;
  color: $primary-color;
}

h2 {
  font-size: 4em;
  margin: 1.4em;
}

.success {
  color: $accent-color;
}

p {
  font-size: 1.1em;
  margin-bottom: 2em;
}
