<div *ngIf="!hired.length" class="hired-message-wrapper">
    <div class="name-decoration">
        &#x007B;
        <!-- &lt; -->
    </div>
    <p class="info-message">You have not hired developers</p>
    <div class="name-decoration">
        &#x007D;
        <!-- &gt; -->
    </div>
</div>

<!-- search -->
<div *ngIf="hired.length" class="search-filter-container">
    <dev-search (filterItem)="filterAndSearch($event)"></dev-search>
</div>

<div *ngIf="hired.length">
    <div class="hired-message-wrapper">
        <div class="name-decoration">
            &#x007B;
            <!-- &lt; -->
        </div>
        <p class="info-message">Hired developers:</p>
        <div class="name-decoration">
            &#x007D;
            <!-- &gt; -->
        </div>
    </div>
    <div class="hired-devs-conteiner">
        <div *ngFor="let dev of filteredHiredDevelopers" class="hired-dev mat-elevation-z8">
            <mat-card class="developer-wrapper mat-elevation-z2">
                <div class="delete-from-project">
                    <p>Remove from project</p>
                    <button mat-icon-button>
                        <mat-icon class="cancel-icon" color="accent" (click)="removeFromProj(dev)">cancel</mat-icon>
                    </button>
                </div>
                <div class="hired-dates">
                    <p class="date-from">From: {{dev.dates.startDate | date: 'd ,MMM , y'}} </p>
                    <p class="date-to">To: {{dev.dates.endDate | date: 'd ,MMM , y'}} </p>
                </div>

                <dev-dev-info [developer]="dev.developer"></dev-dev-info>
            </mat-card>
        </div>
    </div>
</div>