$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.hired-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  & .info-message {
    text-align: center;
    margin: 1em 0.5em;
    color: $secondary-color;
    font-size: 1.5em;
  }

  & .name-decoration {
    color: $secondary-color;
    font-family: "Roboto Mono", monospace;
    font-size: 2em;
  }
}

.hired-devs-conteiner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  & .hired-dev {
    margin: 1em;
    padding: 1em;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    border-radius: 4px;
    position: relative;

    & .delete-from-project {
      position: absolute;
      top: -5px;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      width: 100%;

      & p {
        margin: 0 0.4em;
        color: $secondary-color;
      }
    }

    & .hired-dates {
      margin: 1.6em 0 0 0;

      & .date-from {
        border: 1px solid $primary-color;
        padding: 0.3em;
        border-radius: 4px;
      }
      & .date-to {
        border: 1px solid $accent-color;
        border: 1px solid $primary-color;
        padding: 0.3em;
        border-radius: 4px;
        // background-color: rgb(214, 6, 58);
      }
    }
  }
}

.search-filter-container {
  margin: 2em auto 1.4em auto;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-card {
  width: 210px;
}

::ng-deep .mat-snack-bar-container {
  color: #fff;
  background-color: $accent-color;
  & button {
    background: white;
    color: $accent-color;
  }
}
