$primary-color: #3f51b5;
$secondary-color: #888787;
$accent-color: #ff4081;

::ng-deep .mat-card-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 120px;
}

::ng-deep .mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
}

.card-heading {
  color: $primary-color;
  font-size: 1.2rem;

  & .tech-img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%px;
    height: 22px;
    & .tech-img-container {
      width: 64px;
      display: flex;
      justify-content: space-between;
      & .card-img {
        display: block;
        width: 22px;
        height: auto;
      }
    }
  }
}

.content {
  height: 110px;
  margin-bottom: 0;
  color: $secondary-color;
  text-align: center;

  & .price {
    color: $primary-color;
  }

  & .location {
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      margin: 0;
      padding-bottom: 0.1em;
    }
    & a {
      margin-left: 0.4em;
    }
  }
}
