<mat-card-header class="header">
    <mat-card-title class="card-heading">
        <mat-card-title class="card-heading">

            <div class="tech-img-wrapper">
                <div *ngIf="tech && tech.imageUrl" class="tech-img-container">
                    <!-- &lt; -->&#x007B;
                    <img [src]="tech.imageUrl" alt="tech-img" class="card-img">
                    <!-- &gt; -->&#x007D;
                </div>
            </div>
        </mat-card-title>
        <mat-card-title class="card-heading" *ngIf="tech">&lt;
            {{tech.techName}}
            &gt;</mat-card-title>


        <!-- <div class="info-button"> -->
        <button mat-raised-button color="primary" aria-label="Details" (click)="openInfo(developer)">
            Developer Details
            <!-- <mat-icon>info</mat-icon> -->
        </button>
    </mat-card-title>
    <!-- </div> -->
</mat-card-header>
<mat-card-content class="content">
    <p>{{developer.name | uppercase }}</p>
    <p class="price">{{developer.pricePerHour | number:'1.2-2' }} &euro;</p>
    <div class="location" *ngIf="location">
        <p>{{location.location}}</p>
        <!-- <p>{{developer | json}}</p> -->
        <div *ngIf="location.link">
            <a [href]="location.link" target="_blank">
                <mat-icon color="primary">location_on</mat-icon>
            </a>
        </div>
    </div>

</mat-card-content>