<div class="techs-wrapper">
    <h3 *ngIf="techExists" class="exists-message">{{techExists}}</h3>

    <!-- <dev-tech-create *ngIf="showCreate" (createTechEvent)="onCreateTechHandler($event)"></dev-tech-create>
    <dev-tech-edit [tech]="techToEdit" *ngIf="!showCreate && techToEdit" (editTechEvent)="onEditTechHandler($event)">
    </dev-tech-edit> -->

    <dev-create-edit-tech (createTechEvent)="onCreateTechHandler($event)" (editTechEvent)="onEditTechHandler($event)"
        (cancel)=onCancel()>
    </dev-create-edit-tech>

    <mat-chip-list #chipList *ngIf="techs" class="chip-techs">
        <mat-chip class="chip" *ngFor="let tech of techs" [removable]="isTechRemovable(tech)" (removed)="remove(tech)">

            <img *ngIf="tech.imageUrl" [src]="tech.imageUrl" class="tech-img">

            {{tech.techName}}
            <button mat-icon-button (click)="edit(tech)" color="primary" class="chip-edit">
                <mat-icon>construction</mat-icon>
            </button>
            <mat-icon matChipRemove *ngIf="tech.removable" class="cancel-icon">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>