$accent-color: #ff4081;

.main-nav-container {
  margin-bottom: 1em;
  padding: 0 2em;
  width: 100%;
  height: 100px;

  & .nav-container-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav-container {
      & .main-nav {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;

        &.auth {
          align-items: center;
        }

        & li {
          margin-right: 0.5em;
        }

        & .material-icons {
          font-size: 28px;
        }

        & .link-text {
          font-size: 0.5em;
          &.login-text {
            position: absolute;
            bottom: -17px;
            left: 14px;
          }
          &.register-text {
            position: absolute;
            bottom: -17px;
            left: 4px;
          }
        }

        & .logout {
          font-family: "Roboto Mono", monospace;
          height: 60px;
          display: flex;
          align-items: center;

          & .nav-name {
            display: flex;
            align-items: center;
            margin-right: 2em;

            &:hover {
              cursor: pointer;
              color: #fff;
              & p {
                cursor: pointer;
                font-weight: 700;
                color: $accent-color;
              }
              & .name-lt-gt {
                color: #fff;
              }
            }
            & .name-lt-gt {
              font-size: 1.4em;
              margin: 0 0.25em;
              // color: #b6b6b6;
              color: #fff;
            }

            & p {
              font-family: Roboto, "Helvetica Neue", sans-serif;
              line-height: 1;
              text-transform: capitalize;
              letter-spacing: 2px;
              margin: 0;
              padding: 0;
              font-size: 0.7em;
              // font-weight: bold;
              // color: #b6b6b6;
              color: white;
            }
          }

          & .logout-icon-wrapper {
            // background-color: rosybrown;
            cursor: pointer;
            position: relative;

            &:hover {
              color: #fff;
            }

            & .logout-text {
              position: absolute;
              bottom: -12px;
              left: -2px;
            }
          }
        }

        & a {
          cursor: pointer;
          padding: 0.5em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
