<mat-toolbar color="primary" class="main-nav-container">
    <div class="nav-container-wrapper">

        <div class="nav-container">
            <ul class="main-nav">
                <li>
                    <dev-logo routerLink="/"></dev-logo>
                </li>
                <li *ngIf="isAuth">
                    <a routerLink="/devs">Devs</a>
                </li>
                <li *ngIf="isAuth">
                    <a routerLink="/hunter">Hunter</a>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
            </ul>
        </div>

        <div class="nav-container">
            <ul class="main-nav auth">
                <li *ngIf="!isAuth">
                    <a routerLink="/auth/login">
                        <mat-icon>login</mat-icon>
                        <span class="link-text login-text">Login</span>
                        <!-- Login -->
                    </a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/auth/register">
                        <mat-icon>app_registration</mat-icon>
                        <span class="link-text register-text">Register</span>
                        <!-- Register -->
                    </a>
                </li>

                <li *ngIf="isAuth" (click)="logOut()">
                    <div class="logout">
                        <div class="nav-name">
                            <div class="name-lt-gt">&#x007B;</div>
                            <p *ngIf="!name">Hi</p>
                            <p *ngIf="name"> hi : {{name}}</p>
                            <div class="name-lt-gt">&#x007D;</div>
                        </div>
                        <div class="logout-icon-wrapper">
                            <mat-icon>logout</mat-icon>
                            <span class="link-text logout-text">Logout</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</mat-toolbar>