body {
  min-width: 100vh;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}
