<div *ngIf="locations && technologies">

    <div class="form-wrapper" *ngIf="locations.length > 0 && technologies.length > 0; else elseBlock">

        <form [formGroup]="devForm" (ngSubmit)="onCreateHandler()" class="form">
            <button mat-icon-button class="cancel-wrapper" type="reset">
                <mat-icon class="cancel-icon" color="accent" (click)="cancelForm()">cancel</mat-icon>
            </button>
            <mat-form-field>
                <input type="text" matInput name="name" formControlName="name" placeholder="Developer name">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput name="email" formControlName="email" placeholder="email">
            </mat-form-field>
            <mat-form-field>
                <!-- <span matPrefix>359 &nbsp;</span> -->
                <input type="tel" matInput name="phone" formControlName="phone" placeholder="0887010203"
                    pattern="[0-9]{10}">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select location" name="location" formControlName="location">
                    <mat-option *ngFor="let loc of locations" [value]="loc">{{loc.location}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select technology" name="technology" formControlName="technology">
                    <mat-option *ngFor="let tech of technologies" [value]="tech">{{tech.techName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field>
                <input type="text" matInput name="technology" placeholder="technology" >
            </mat-form-field> -->
            <mat-form-field>
                <input type="number" matInput name="pricePerHour" formControlName="pricePerHour"
                    placeholder="price per hour">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput name="yearsExperience" formControlName="yearsExperience"
                    placeholder="years of experience">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Native language" name="language" formControlName="language">
                    <mat-option value="English">English</mat-option>
                    <mat-option value="Bulgarian">Bulgarian</mat-option>
                    <mat-option value="Serbian">Serbian</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput name="pictureUrl" formControlName="pictureUrl" placeholder="picture url">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput name="linkedinLink" formControlName="linkedinLink"
                    placeholder="linkedin link">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description..." formControlName="description"
                    name="description"></textarea>
            </mat-form-field>
            <button type="submit" mat-raised-button color="accent" [disabled]="devForm.invalid || locations.length < 1"
                class="create-dev">
                <!-- <mat-icon>login</mat-icon> -->
                <span>{{buttonName}}</span>
            </button>
        </form>
    </div>
    <ng-template #elseBlock>
        <div class="missing-wrapper">
            <div *ngIf="haveLocations && locations.length === 0" class="missing-tech-loc">
                <h4>Location is missing. Please add location</h4>
                <button mat-raised-button color="accent" (click)="toHunter()">Locations</button>
            </div>
            <div *ngIf="haveTechnologies &&technologies.length === 0" class="missing-tech-loc">
                <h4>Technology is missing. Please add technology</h4>
                <button mat-raised-button color="accent" (click)="toHunter()">Technologies</button>
            </div>
        </div>
    </ng-template>
</div>