<form [formGroup]="locationEditForm" #formDirective="ngForm" (ngSubmit)="onEdit();" class="loc-form">
    <mat-form-field class="loc-form-input">
        <input type="text" formControlName="location" matInput name="location" placeholder="location name">
    </mat-form-field>
    <mat-form-field class="loc-form-input">
        <input type="text" matInput formControlName="link" name="link" placeholder="Link">
    </mat-form-field>
    <div class="buttons">
        <button class="btn" type="submit" mat-raised-button color="accent" [disabled]="locationEditForm.invalid">
            <span>{{buttonName}}</span>
        </button>
        <button class="btn btn-abs-pos" type="reset" mat-raised-button color="primary"
            (click)="onCancel()">Cancel</button>
    </div>
</form>