$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.developer-wrapper {
  max-width: 350px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $secondary-color;

  & .select-dev {
    padding-bottom: 0.6em;
    border-bottom: 1px solid $secondary-color;
    margin-bottom: 1em;
  }

  & .card-heading {
    color: $primary-color;
  }

  & .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
