<mat-card class="developer-wrapper mat-elevation-z2">
    <div class="select-dev">
        <mat-checkbox (change)="toggle($event)" [checked]="developer.selectedForJob?true:false" labelPosition="before">
            Check for multyple selection</mat-checkbox>
    </div>

    <dev-dev-info [developer]="developer"></dev-dev-info>

    <mat-card-actions class="actions">
        <div class="action-buttons">

            <button mat-icon-button color="primary" aria-label="Edit" (click)="editDev(developer)">
                <mat-icon>construction</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Delete" (click)="deleteDev(developer)"
                [disabled]="developer.isHired">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <dev-dev-hire [dates]="developer.hiredDates" (submitEvent)="submitDev($event)"></dev-dev-hire>

    </mat-card-actions>
</mat-card>