$primary-color: #3f51b5;
$secondary-color: #b6b6b6;

.footer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;

  & .footer-text {
    color: #fff;
    margin: 0;
  }
}
