/* You can add global styles to this file, and also import other style files */
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;
html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
.logout {
  text-decoration: none;
  color: $secondary-color;
}

.form {
  // border: 2px solid $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 2.5em;

  & .mat-form-field {
    width: 90%;
    margin-bottom: 0.5em;
  }

  & .mat-input-element {
    // color: $primary-color;
    font-size: 1.3em;
  }

  & .login-register-button {
    width: 50%;
    margin: 1.5em 0 0.2em 0;

    & .mat-icon {
      margin-right: 0.2em;
    }
  }

  & .form-checkbox {
    margin: 2em 0 1em 0;
  }
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}
