$primary-color: #3f51b5;
$secondary-color: #b6b6b6;
$accent-color: #ff4081;

.ex-panel {
  margin: 1em;
  & .ex-panel-header {
    background-color: $secondary-color;

    & .ex-panel-title {
      min-width: 80px;
    }

    &:hover {
      background-color: $primary-color;
    }
  }
}
