<mat-expansion-panel class="ex-panel">
    <mat-expansion-panel-header class="ex-panel-header">
        <mat-panel-title>
            <div class="ex-panel-title">Technologies</div>
        </mat-panel-title>
        <!-- <mat-panel-description>
            Add, delete, edit Technologies.
        </mat-panel-description> -->
    </mat-expansion-panel-header>
    <dev-technologies></dev-technologies>
</mat-expansion-panel>

<mat-expansion-panel class="ex-panel">
    <mat-expansion-panel-header class="ex-panel-header">
        <mat-panel-title>
            <div class="ex-panel-title">Locations</div>
        </mat-panel-title>
        <!-- <mat-panel-description>
            Add, delete, edit Locations.
        </mat-panel-description> -->
    </mat-expansion-panel-header>
    <dev-locations></dev-locations>
</mat-expansion-panel>
<dev-hired></dev-hired>